{% extends 'ecom/main.html' %}
{% load static %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row justify-content-center mt-5">
    <div class="col-md-7 text-center">
        <h1 style="text-align: center;">Welcome to ECOM </h1>
        <p style="text-align: center;">This is a ecommerce website built with django</p>
        <button class="btn btn-primary" style="align-items: center;" onclick="document.location='store'">Go to Store</button>

    </div>
</div>
{% endblock %}